###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# IDE / éditeur
/.idea/
/.vscode/

# Node / NPM / Yarn
/node_modules/
/public/build/

# Fichiers temporaires
*.log
*.cache
*.tmp

# Environnements et secrets
.env.local
.env.local.php
.env.*.local
/config/secrets/*.php

# Mac / Linux / Windows
.DS_Store
Thumbs.db
