{% extends 'base.html.twig' %}

{% block title %}Leçon {{ lesson.title }}{% endblock %}

{% block body %}
<div class="lesson-container">
    <h1>{{ lesson.title }}</h1>

    <div class="lesson-content">
        <p>Contenu de la leçon...</p>
    </div>

    <div class="lesson-actions">
        {% if userHasAccess[lesson.id] is defined %}
            {% if userHasCompleted[lesson.id] is not defined %}
                <a href="{{ path('lesson_validate', {'id': lesson.id}) }}" class="btn btn-success">
                    Valider la leçon
                </a>
            {% else %}
                <span class="lesson-validated">Leçon validée ✔</span>
            {% endif %}
        {% else %}
            <span class="locked">Vous devez acheter la leçon ou le cursus pour y accéder</span>
        {% endif %}
    </div>
</div>
{% endblock %}