{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
<main class="container py-5 text-center">
  <h1>404</h1>
  <p>La page demandée est introuvable.</p>
  <a class="btn btn-primary" href="{{ path('homepage') }}">Retour à l’accueil</a>
</main>
{% endblock %}