{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}
<h1>Changer le mot de passe</h1>
{{ form_start(passwordForm) }}
    {{ form_row(passwordForm.plainPassword.first) }}
    {{ form_row(passwordForm.plainPassword.second) }}
    <button type="submit">Enregistrer</button>
{{ form_end(passwordForm) }}
{% endblock %}
